{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

    <table class="table datagrid">
        <thead>
        <tr>
            <th><span>Rang</span></th>
            <th><span>Candidat</span></th>
            <th><span>moyenne</span></th>
            <th><span>votes</span></th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ note.id }} - {{ note.name }}</td>
                <td>{{ note.score_avg }}</td>
                <td>{{ note.score_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="height: 50px;"></div>

    <table class="table datagrid">
        <thead>
            <tr>
                <th><span>Joueurs</span></th>
                <th><span>{{ total }}</span></th>
                <th><span>{{ (total/total * 100)|round(0) }} %</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Connecté dans l'heure</td>
                <td>{{ actifHeure }}</td>
                <td>{{ (actifHeure/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Connecté aujourd'hui</td>
                <td>{{ actifJour }}</td>
                <td>{{ (actifJour/total * 100)|round(0) }} %</td>
            </tr>
            <tr><td colspan="99"></td></tr>
            <tr>
                <td>Tirés au sort aujourd'hui</td>
                <td>{{ tiragesJour }}</td>
                <td>{{ (tiragesJour/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Tirés au sort au total</td>
                <td>{{ tiragesTotal }}</td>
                <td>{{ (tiragesTotal/total * 100)|round(0) }} %</td>
            </tr>
            <tr><td colspan="99"></td></tr>
            <tr>
                <td>Partage Facebook</td>
                <td>{{ share }}</td>
                <td>{{ (share/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Acceptation SMS</td>
                <td>{{ sms }}</td>
                <td>{{ (sms/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Acceptation Email</td>
                <td>{{ email }}</td>
                <td>{{ (email/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Acceptation SMS et Email</td>
                <td>{{ smsetemail }}</td>
                <td>{{ (smsetemail/total * 100)|round(0) }} %</td>
            </tr>
            <tr>
                <td>Acceptation SMS ou Email (export)</td>
                <td>{{ smsouemail }}</td>
                <td>{{ (smsouemail/total * 100)|round(0) }} %</td>
            </tr>
        </tbody>
    </table>

{% endblock main %}
