{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                    
                    {% if answer.good %}
                        <h1>Bravo !</h1>
                    {% else %}
                        <h1>Dommage...</h1>
                    {% endif %}

                {#<h1>Super !</h1>#}
                
                <p>La bonne réponse était<br><strong>{{ question.goodAnswer }}</strong></p>

                {#<p>Votre note pour la prestation de {{ hall.name }} a bien été enregistrée.</p>#}
                
                {% if hallTodo|length > 0 %}
                    <p>Il vous reste des énigmes à résoudre dans le{{ hallTodo|length > 1 ? 's' }} 
                    {{ hallTodo|join(', ') }}</p>
                    
                    <p><a href="{{ path('game_halls') }}" class="button redButton">Retour à la liste des halls</a></p>
                {% else %}
                    <p>Vous avez répondu à l'ensemble des questions !</p>
                    
                    <p><a href="{{ path('game_end') }}" class="button redButton">Fin du jeu</a></p>
                {% endif %}

                {# {% if hallTodo|length > 0 %}
                    <p>
                        Vous pouvez maintenant retourner à la liste des candidats pour attribuer d'autres notes.
                    </p>
                    
                    <p>&nbsp;</p>
                    
                    <p><a href="{{ path('game_halls') }}" class="button redButton">Retour à la liste des candidats</a></p>
                {% else %}
                    <p>Vous avez noté tous nos candidats !</p>
                    
                    <p><a href="{{ path('game_end') }}" class="button redButton">C'est fini !</a></p>
                {% endif %} #}
    
            </section>

            {% if pubs|length > 0 %}
            <section class="graySection">

                <h2>Nos partenaires du hall {{ hall.name }} :</h2>

                {% for pub in pubs %}
                    <p>
                        {% if pub.link is not null %}<a href="{{ pub.link }}" target="_blank">{% endif %}
                            <img src="/imgpub/{{ pub.image }}" width="300px">
                            {% if pub.link is not null %}</a>{% endif %}
                    </p>
                {% endfor %}

            </section>
            {% endif %}
        </div>
</div>




{% endblock content %}
