<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=5">

    <meta name="description" content='Grand jeu Foire de Rouen 2022'>

    <meta property="og:title" content='Grand jeu Foire de Rouen 2022'>
    <meta property="og:description" content='Participez au grand jeu de la foire de Rouen et remportez des cadeaux !'>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('game_index') }}">
    <meta property="og:image" content="{{ url('game_index') }}img/titre.png">

    <title>{% block title %}Grand jeu Viking de la Foire de Rouen 2022{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

</head>
<body>
    
    {# <a href="https://www.horizon-fm.fr/" target="_blank" id="horizonBanner" class="pas" title="Écouter en direct sur Horizon FM">
        À suivre sur <img src="{{ asset('img/logoHorizon.jpg') }}" alt="Horizon - La radio libre">
    </a> #}

    <header>
        {% if app.user %}
        id joueur : #{{ app.user.id }}
        {% endif %}
    </header>

    <style>
        #flashContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }
        .flashMessage {
            display: block;
            width: 100%;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            background-color: white;
            cursor: pointer;
        }
        .flashMessage.bg-navy {
            color: #001f3f;
        }
        .flashMessage.bg-aqua {
            color: #7FDBFF;
        }
        .flashMessage.bg-or {
            color: #FF851B;
        }
        .flashMessage.bg-red {
            color: #FF4136;
        }
    </style>
    <script>
        // close flash message
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.flashMessage').forEach(function(el) {
                el.addEventListener('click', function() {
                    el.remove();
                });
            });
        }, false);
    </script>
    <div id="flashContainer">
        {# read and display all flash messages #}
        {# label : 'notice', 'success', 'warning', 'error' #}
        {% set class = {'notice':'bg-navy','success':'bg-aqua','warning':'bg-or','error':'bg-red'} %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flashMessage {{ class[label] }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <nav>
        <a href="#" aria-label="Afficher le menu" class="navLink"><img src="{{ asset('img/navIcon.svg') }}" alt="menu"></a>
        <ul>
            <li><a href="{{ path('game_index') }}">Le jeu</a></li>
            <li><a href="{{ path('game_howto') }}">Comment jouer ?</a></li>
            <li><a href="{{ asset('plan-foire.jpg') }}" target="_blank">Plan de la foire</a></li>
            <li><a href="{{ asset('reglement2022.pdf') }}" target="_blank">Règlement</a></li>
            {#<li><a href="{{ path('game_rules') }}">Règlement</a></li>#}
        </ul>
    </nav>

    {#<nav>
        <a href="#" aria-label="Afficher le menu" class="navLink"><img src="{{ asset('img/navIcon.svg') }}" alt="menu"></a>
        <ul>
            <li><a href="{{ path('game_index') }}">Voter pour le prix du public</a></li>
            <li><a href="{{ path('game_howto') }}">Comment participer ?</a></li>
            {% if app.user is null %}
                <li><a href="{{ path('game_token_signup') }}">Connexion par code</a></li>
            {% endif %}
            <li><a href="{{ path('game_rules') }}">Règlement</a></li>
        </ul>
    </nav>#}

    {% block content %}{% endblock %}
    
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

</body>
</html>
