<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=5">
    
    <meta name="description" content='Grand jeu "7 samourais". Jouez et gagnez de nombreux cadeaux !'>

    <meta property="og:title" content='Grand jeu "7 samourais à la Foire de Rouen"' />
    <meta property="og:description" content='Parcourez la foire à la recherche des indices et remportez des cadeaux !' />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url('game_start') }}" />
    <meta property="og:image" content="{{ url('game_index') }}img/SQ-foire.png" />

    <title>{% block title %}Grand jeu 7 samourais !{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

    <style>
        todo {
            color: black;
            background-color: red;
            border: 2px solid yellow;
        }
    </style>

</head>
<body>

    <header>
        {% if app.user %}
        id joueur : #{{ app.user.id }}
        {% endif %}
    </header>

    {#<nav>
        <a href="#" aria-label="Afficher le menu" class="navLink"><img src="{{ asset('img/navIcon.svg') }}" alt="menu"></a>
        <ul>
            <li><a href="{{ path('game_index') }}">Le jeu</a></li>
            <li><a href="{{ path('game_howto') }}">Comment jouer ?</a></li>
            <li><a href="{{ asset('plan-foire.jpg') }}" target="_blank">Plan de la foire</a></li>
            {% if app.user is null %}
                <li><a href="{{ path('game_token_signup') }}">Connexion par code</a></li>
            {% endif %}
            <li><a href="{{ path('game_rules') }}">Règlement</a></li>
            <li><a href="{{ path('game_share') }}" target="_blank">Partager sur Facebook</a></li>
        </ul>
    </nav>#}

    {% block content %}{% endblock %}
    
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

</body>
</html>
