<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    
    <meta property="og:title" content='Grand jeu "Enquête à la Foire de Rouen"' />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url('game_index') }}" />
    <meta property="og:image" content="{{ url('game_index') }}img/title.svg" />
    
</head>
<body>

    <header>
        {% if app.user %}
        id joueur : #{{ app.user.id }}
        {% endif %}
    </header>

    <nav>
        <a href="#" class="navLink"><img src="{{ asset('img/navIcon.svg') }}"></a>
        <ul>
            <li><a href="{{ path('game_index') }}">Le jeu</a></li>
            <li><a href="{{ path('game_howto') }}">Comment jouer ?</a></li>
            <li><a href="{{ asset('plan-foire.jpg') }}" target="_blank">Plan de la foire</a></li>
            {% if app.user is null %}
                <li><a href="{{ path('game_token_signup') }}">Connexion par code</a></li>
            {% endif %}
            <li><a href="{{ path('game_rules') }}">Règlement</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

</body>
</html>
