{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">

    <div class="clouds"></div>

    <div class="content">

        {% if app_gpdc %}

            <section>

                <h1>Sélectionnez un candidat</h1>

                <p>Vous pouvez voter une fois par candidat.</p>

                <ul class="hallSelector">
                    {% for hall in halls %}
                        <li>
                            {% if player.isHallDone(hall.id) %}
                                <a href="{{ path('game_hall', {name: hall.name}) }}" class="done">{{ hall.tri }} - {{ hall.name }}</a>
                            {% else %}
                                <a href="{{ path('game_hall', {name: hall.name}) }}">{{ hall.tri }} - {{ hall.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </section>

        {% else  %}

            <section>

                <h1>Dans quel hall partez-vous en raid ?</h1>

                <p>Sélectionnez le hall dans lequel vous vous trouvez.</p>

                <ul class="hallSelector">
                    {% for hall in halls %}
                    <li>
                        {% if player.isHallDone(hall.id) %}
                            <a href="{{ path('game_hall', {name: hall.name}) }}" class="done">{{ hall.name }}</a>
                        {% else %}
                            <a href="{{ path('game_hall', {name: hall.name}) }}">{{ hall.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

            </section>

        {% endif %}

        {% if app_fbshare %}
            <section class="graySection">
                <h2>Doubler mes chances</h2>
                <p>Partagez le jeu sur Facebook pour soutenir la Foire de Rouen et doubler vos chance d’être tiré au sort !</p>
                <p><a href="{{ path('game_share') }}" target="_blank" class="button redButton">Partager</a></p>
            </section>
        {% endif %}

    </div>
</div>


{% endblock content %}


