{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>

                <h5>Question {{ hall.name }}</h5>
                
                <h1 class="nomargin">{{ question.question|raw }}</h1>
                
                <p><em>{{ question.text|raw }}</em></p>
            
                <form method="post">
                    <ul class="buttonList">
                    {% for answer in question.answersRandom %}
                        <li><input type="submit" name="answer" value="{{ answer }}"></li>
                    {% endfor %}
                    </ul>
                </form>
            
                <br>
                <a href="{{ path('game_halls') }}">Retour à la liste des halls</a>
    
            </section>
        </div>
</div>


{% endblock content %}
