{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>

                <h5>Candidat n°{{ hall.id }}</h5>
                
                <h1 class="nomargin">Notez la prestation de {{ hall.name }} ?</h1>
                
                <p>&nbsp;</p>
                
                <p><em>{{ question.text|raw }}</em></p>
            
                <form method="post">
                    <ul class="buttonList">
                        <li><button name="answer" value="1">&starf; &star; &star; &star; &star;</button></li>
                        <li><button name="answer" value="2">&starf; &starf; &star; &star; &star;</button></li>
                        <li><button name="answer" value="3">&starf; &starf; &starf; &star; &star;</button></li>
                        <li><button name="answer" value="4">&starf; &starf; &starf; &starf; &star;</button></li>
                        <li><button name="answer" value="5">&starf; &starf; &starf; &starf; &starf;</button></li>
                    </ul>
                </form>
            
                <br>
                <a href="{{ path('game_halls') }}">Retour à la liste des candidats</a>
    
            </section>

            {% if pubs|length > 0 %}
                <section class="graySection">

                    <h2>Nos partenaires du hall {{ hall.name }} :</h2>

                    {% for pub in pubs %}
                        <p>
                            {% if pub.link is not null %}<a href="{{ pub.link }}" target="_blank">{% endif %}
                                <img src="/imgpub/{{ pub.image }}" width="300px">
                                {% if pub.link is not null %}</a>{% endif %}
                        </p>
                    {% endfor %}

                </section>
            {% endif %}

        </div>
</div>


{% endblock content %}
