{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                
                <h1>Inscription</h1>
            
                <form method="post" action="{{ remote ? path('game_remote_signup') : path('game_signup') }}">
            
                    <p>
                        <label>Prénom</label>
                        <input type="text" name="name[]" value="{{ form.name is defined ? form.name[0] }}" required>
                    </p>
            
                    <p>
                        <label>Nom</label>
                        <input type="text" name="name[]" value="{{ form.name is defined ? form.name[1] }}" required>
                    </p>
            
                    <p>
                        <label>Mail</label>
                        <input type="email" name="email" value="{{ form.email is defined ? form.email }}" required>
                        {% if errors.email is defined %} <span class="error">Cette adresse mail est déjà utilisée.</span> {% endif %}
                    </p>
                    
                    <p>
                        Nous collectons ces données uniquement afin de gérer votre participation au vote. En savoir plus sur la gestion de vos données et vos droits
                        <a href="{{ path('game_rules') }}">ici</a>.
                    </p>

                    <p class="mtm"><input type="checkbox" name="gcu" required> J'accepte le <a href="{{ path('game_rules') }}">règlement</a></p>

                    <p class="mtm"><button class="button redButton blockButton">Valider</button></p>
            
                </form>
    
            </section>
    
        </div>
</div>

{% endblock content %}
