{% extends 'game/base.html.twig' %}

{% block content %}

<div id="mainWrapper">
        
        <div class="clouds"></div>
        
        <div class="content">
            
            <section>
                
                <h1>Inscription</h1>
            
                <form method="post">

                    {{ form_widget(form._token) }}
            
                    <p>
                        {{ form_label(form.nom, 'Nom') }}
                        {{ form_widget(form.nom) }}
                        <span class="error">{{ form_errors(form.nom) }}</span>
                    </p>

                    <p>
                        {{ form_label(form.prenom, 'Prénom') }}
                        {{ form_widget(form.prenom) }}
                        <span class="error">{{ form_errors(form.prenom) }}</span>
                    </p>

                    <p>
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email) }}
                        <span class="error">{{ form_errors(form.email) }}</span>
                    </p>

                    <p>
                        {{ form_label(form.telephone, 'Téléphone') }}
                        {{ form_widget(form.telephone) }}
                        <span class="error">{{ form_errors(form.telephone) }}</span>
                    </p>

                    <p>
                        {{ form_label(form.ville, 'Ville') }}
                        {{ form_widget(form.ville) }}
                    </p>

                    <p>
                        {{ form_label(form.plainPassword, 'Mot de passe') }}
                        {{ form_widget(form.plainPassword) }}
                        <span class="error">{{ form_errors(form.plainPassword) }}</span>
                    </p>

                    <p>
                        Nous collectons ces données afin de gérer votre inscription au tirage au sort. En cas de victoire,
                        vous serez averti par email et par SMS. En savoir plus sur la gestion de vos données et vos droits
                        <a href="{{ asset('reglement2022.pdf') }}" target="_blank">ici</a>.
                    </p>


                    <p>Nous collectons des données pour permettre
                        à ROUEN-EXPO EVENEMENTS et ses partenaires (<a href="{{ asset('reglement2022.pdf') }}" target="_blank">voir la liste</a>) de vous
                        adresser des publicités. Pour le permettre, cochez les cases ci-dessous :</p>
                        
                    <p>
                        {{ form_widget(form.authSmsPub) }}
                        {{ form_label(form.authSmsPub, "J'accepte de recevoir par SMS des offres promotionnelles de la part de ROUEN-EXPO EVENEMENTS et ses partenaires.") }}
                    <p>

                    <p>
                        {{ form_widget(form.authMailPub) }}
                        {{ form_label(form.authMailPub, "J'accepte de recevoir par email des offres promotionnelles de la part de ROUEN-EXPO EVENEMENTS et ses partenaires.") }}
                    <p>

                    <p class="mtm">
                        {% set label -%}
                        J'accepte le <a href="{{ asset('reglement2022.pdf') }}" target="_blank">règlement</a>
                        {%- endset %}
                        {{ form_widget(form.reglement) }}
                        <label for="{{ form.reglement.vars.id }}">{{ label|raw }}</label>
                    </p>

                    <p class="mtm"><button class="button redButton blockButton">Valider</button></p>

                    <a href="{{ path('app_login') }}" class="button redButton">J'ai déjà un compte</a>

                    {% if app_login_code %}
                    <a href="{{ path('app_login_code') }}" class="button redButton">J'ai un code</a>
                    {% endif %}
            
                </form>
    
            </section>
    
        </div>
</div>

{% endblock content %}
