{% extends 'game/base.html.twig' %}

{% block content %}

    Visuel
    <br>
    <h1>Inscription</h1>
    <br>

    <form method="post" action="{{ remote ? path('game_remote_signup') : path('game_signup') }}">

        Prénom
        <br>
        <input type="text" name="name[]" value="{{ form.name is defined ? form.name[0] }}" required>
        <br>

        Nom
        <br>
        <input type="text" name="name[]" value="{{ form.name is defined ? form.name[1] }}" required>
        <br>

        Mail

        <br>
        <input type="email" name="email" value="{{ form.email is defined ? form.email }}" required>
        {% if errors.email is defined %} déjà utilisé {% endif %}
        <br>

        Tel
        <br>
        <input type="text" name="data[tel]"  value="{{ form.data is defined ? form.data.tel }}" required>
        <br>

        Ville
        <br>
        <input type="text" name="data[ville]"  value="{{ form.data is defined ? form.data.ville }}" required>
        <br>

        Règlement <a href="{{ path('game_rules') }}">lien</a>
        <br>
        <input type="checkbox" name="gcu" required>
        <br>

        <br>
        <input type="submit">

    </form>

    <br>
    <a href="{{ path('game_signup') }}">C'est parti</a>


{% endblock content %}
